*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form textarea{
    width: 30vw;
    height: 15vh;
    resize: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

#form button{
    height: 6vh;
    font-size: 18px;
    margin-top: 1%;
    border-radius: 15px;
}

hr{
    width: 80%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.btn2{
        margin-top: 1%;
        background-color: yellow;
        margin-left: auto;
        margin-right: 0px;
        border: 3px solid black;
        width: 200px;
        color: black;
    }


    footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        background-size: contain;
    }
    
    footer p{
        color: white;
        text-align: center;
        font-size: 2rem;    
    }
    
    footer p span{
        color: blue;
    }



/* for resposnive */

@media (max-width:586px) {

    #form textarea{
        width: 80vw;
    }  
    
    footer p{
        text-align: center;
        font-size: 1rem;    
    }
}

